.footer {
  display: flex;
  width: 100%;
  padding: 48px 64px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background: #030c0b;
  /* background: #25403d; */
}
.footer-top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1280px;
  width: 100%;
}
.footer-top-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Colors-Neutral-700, #777);
  width: 100%;
}
.footer-top-heading-active {
  display: flex;
  padding: 20px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.footer-top-heading {
  display: flex;
  padding: 20px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  cursor: pointer;
  text-wrap: nowrap;
}
.footer-top-body-container {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  gap: 4px;
  flex-wrap: wrap;
  column-gap: 64px;
}
.footer-top-body {
  color: var(--Colors-Neutral-400, #bbb);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  cursor: pointer;
}

.footer-bottom-container {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 4px;
}

.logo-container-text {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  letter-spacing: -0.96px;
}

.logo-social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.social-media-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.column {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.links-heading {
  color: #d7e4e3;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.links-body {
  color: rgba(209, 235, 232, 0.62);
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  list-style-type: none;
}

.news-letter-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.newsletter-heading {
  color: #d7e4e3;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.075px;
}
.newsletter-text {
  color: #d7e4e3;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.075px;
}

.news-letterform {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.newsletter-input {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0);
  background: rgba(184, 224, 219, 0.12);
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.075px;
}
.subscribe-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1.5px solid rgba(145, 182, 177, 0.2);
  background: none;
  color: #d7e4e3;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  cursor: pointer;
}

.sperator {
  width: 100%;
  border: 1px solid #777;
  max-width: 1280px;
}

@media (max-width: 1130px) {
  .footer-top-body-container {
    width: 100%;
    max-height: 150px;
  }
  .footer-bottom-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  .footer-top-body-container {
    max-height: 200px;
  }
}

@media (max-width: 750px) {
  .footer-top-heading-container {
    gap: 24px;
    overflow-x: scroll;
  }
}

@media (max-width: 700px) {
  .footer-top-body-container {
    max-height: 500px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding-inline: 24px;
  }
  .footer-top-heading-active {
    padding-inline: 16px;
    font-size: 14px;
    text-wrap: nowrap;
  }
  .footer-top-heading {
    padding-inline: 16px;
    font-size: 14px;
    text-wrap: nowrap;
  }
  .footer-bottom-container {
    flex-direction: column;
  }
  .news-letter-container{
    width: 100%;
  }
  .news-letterform{
    flex-wrap: wrap;
  }
}
