.nav-home {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #3C3C3C 0%, rgba(153, 153, 153, 0.00) 100%);
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
 
}
.nav {
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center;
  background: #3498DB;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
 
}

.nav-logo {
  display: flex;
  height: 2rem;
  align-items: center;
  gap: 0.25rem;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-text {
  color: #fff;
  font-family: Sen;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1.5rem */
  letter-spacing: -0.06rem;
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.nav-right-text {
  color: var(--Colors-Neutral-100, #fff);
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  margin: 0;
  text-wrap: nowrap;
}



.nav-search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid #d9d9d9;
  gap: 4px;
  height: 100%;
  background-color: #fff ;
  box-sizing: border-box;
  margin: 0px 8px;
  border-radius: 4px;
}

.search-form {
  width: 100%;
  display: flex;
}

.search-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2980b9;
}

.nav-search-bar input{
  width: 100%;
  background: #fff;
  outline: none;
  font-family: "Open Sans";
  font-size: 14px;
  border: none;
  height: 32px;
}
.selected-locations-nav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.selected-location{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  padding: 8px 12px;
  border-radius: 32px;
  font-family: "Open Sans";
  font-size: 12px;
  color: #f2f6f5;
  text-wrap: nowrap;
  gap: 8px;
  & img{
    cursor: pointer;
  }
}

.nav-search-with-results{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}


.nav-search-results{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 250px;
  background-color: #fff;
  margin-top: 56px;
  border-radius: 8px;
  box-shadow: 0px 16px 40px -8px rgba(88, 92, 95, 0.16);
  overflow: scroll;
}

.nav-search-results::-webkit-scrollbar{
  display: none;
}
.nav-result-item{
  width: 100%;
  list-style: none;
  padding: 8px 16px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #1e1e1e;
  cursor: pointer;

  &:hover{
    background-color: #f2f6f5;
  }

}

.login-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #00000075;
}

.nav-center{
  display: flex;
  width: 100%;
  justify-content: right;
}

.material-symbols-outline {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;  /* Preferred icon size */
  display: none;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fff;
  font-variation-settings:
  'wght' 200,   /* Thinner stroke, default is 400 */
  'GRAD' 0,     /* No extra thickness */
  'FILL' 0,     /* Outline style */
  'opsz' 48; 
  cursor: pointer;
}
.account-name{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #fff;
  font-family: "Open Sans";
}

@media (max-width:1000px) {
  .nav-center{
    display: none;
  }
  .nav-home{
    padding-inline: 32px;
    flex-direction: column;
  }
  .nav{
    padding-inline: 32px;
    flex-direction: column;
  }
  .material-symbols-outline{
    display: inline-block;
  }
  .nav-right{
    flex-direction: column;
  }
  .nav-search-with-results{
    width: 100%;
    max-width: 600px;
  }
  .nav-center-active{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-right{
    width: 100%;
    max-width: 600px;
    align-items: flex-start;
    padding-top: 16px;
    gap: 8px;
  }
  .nav-right-text{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
  }
}

@media (max-width:600px) {
  .logo-text{
    display: none;
  }
}